In [4]:
from billingplatform import BillingPlatform

# Basic usage example of the initialization of the BillingPlatform client
bp = BillingPlatform(client_id='ABC1234567890'
                     , client_secret='1234567890ABCDEF1234567890ABCDEF'
                     , base_url='https://api.billingplatform.com')

In [5]:
# Example of using the query method to retrieve data.
# This would translate to making a GET request to the BillingPlatform query method
account_data = bp.query(sql='SELECT Name, Description, Status FROM ACCOUNT')

print(account_data)

{'queryResponse': [{'Id': 1, 'Name': 'Account 1', 'Description': 'The first account', 'Status': 'ACTIVE'}, {'Id': 2, 'Name': 'CURRENT', 'Description': 'The second account', 'Status': 'ACTIVE'}, {'Id': 3, 'Name': 'Account 3', 'Description': 'The third account', 'Status': 'INACTIVE'}]}

In [6]:
# Once the data is retrieved, it can be processed or displayed using pandas (or polars)
# for additional data manipulation and analysis.
import pandas as pd

accounts_df = pd.DataFrame(account_data.get('queryResponse', None))

display(accounts_df)

   Id       Name         Description    Status
0   1  Account 1   The first account    ACTIVE
1   2    CURRENT  The second account    ACTIVE
2   3  Account 3   The third account  INACTIVE

In [7]:
account_data = bp.billingplatform.query(sql='SELECT * FROM accounts WHERE account_id = 12345', nbr_threads=4)

print(account_data)

AttributeError: 'BillingPlatform' object has no attribute 'billingplatform'